body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
}

.container {
  text-align: center;
  position: relative;
  z-index: 2;
}

#celebrateLink {
  font-size: 24px;
  color: #fff;
  background-color: #e74c3c;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#celebrateLink:hover {
  background-color: #c0392b;
}

/* Message Style */
#message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  color: #333;
  font-weight: bold;
  z-index: 1;
  visibility: hidden; /* Initially hide the message */
}

.hidden {
  visibility: visible; /* Show the message */
}

#confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
